<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <img
        src="https://media-exp1.licdn.com/dms/image/C560BAQHj6VrVPIENnQ/company-logo_200_200/0/1651142565923?e=2147483647&v=beta&t=2nprw6C_E9VSmSStAnxiNl6RBXGPlFz8wKgNNBQ63_4"
        alt=""
      />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/meekolony/collection']">
          <span nz-icon nzType="file"></span>
          <span>Meekolony Collection</span></a
        >
      </li>
      <li nz-menu-item>
        <a [routerLink]="['/meekolony/holder']">
          <span nz-icon nzType="file"></span>
          <span>Meekolony Holder</span></a
        >
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header><h1>Meekolony App</h1></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Made by Sky with <3</nz-footer>
  </nz-layout>
</nz-layout>
